.header-container {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
    margin-top: 10px;
  padding: 20px;
  border: 100px;
  padding: 20px 20px;
  z-index: 5;
  /* background:#ffffff; */
  }